@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-13px);
  }
}

.container {
  text-align: center;
  width: 100%;
}

.logo-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 30px;
  margin-bottom: 20px;
}

.logo-icons i:nth-child(1) {
  animation-delay: 0s;
  background-color: #00f5ff;
}
.logo-icons i:nth-child(2) {
  animation-delay: 0.2s;
  background-color: #fb1dd6;
}
.logo-icons i:nth-child(3) {
  animation-delay: 0.4s;
  background-color: #ff0084;
}

.logo-icons i {
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bounce 1s linear infinite;
}

.logo-text {
  font-size: 60px;
  font-weight: 700;
    background: linear-gradient(
    90deg,
    #00d9ff 0%,
    #00f5ff 12%,
    #fb1dd6 50%,
    #ff0084 95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}

.tagline {
  margin-top: 10px;
  margin-bottom: 40px;
  color: #bdb8ff;
  font-size: 14px;
}

.card {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: auto;
}

.input-group {
  text-align: left;
  margin-bottom: 25px;
}

.input-group label {
  font-size: 12px;
  color: #9f9fff;
  display: block;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(0,0,0,0.6);
  color: white;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #00f5ff;
  box-shadow: 0 0 10px #00f5ff;
}

.enter-btn {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid #00f5ff;

  background: rgba(0, 40, 60, 0.6);
  color: #00f5ff;

  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}


.enter-btn:hover {
  background: #00f5ff;
  color: #000;

  box-shadow: 0 0 20px #00f5ff;
}


.signup-text {
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}

.signup-text a {
  color: #00f5ff;
  cursor: pointer;
}
